html {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
    font-family: sans;

    --year-width: 7ch;
}

body {
    max-width: 70ch;
}

ul {
    padding: 0;
    list-style-type: none;
}

li>ul {
    padding-inline-start: 3ch;
}

header,
footer,
nav>ul {
    display: flex;
    justify-content: space-between;
    column-gap: 1ch;
    align-items: center;
}

nav>ul {
    justify-content: space-around;
    list-style-type: none;
}

li {
    margin-block: 1ex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-family: serif;
}

.block {
    display: block;
}

.year {
    display: inline-block;
    min-width: var(--year-width);
}

.workentry>span:last-child {
    display: block;
    margin-inline-start: var(--year-width);
}

.langcode {
    border-style: solid;
    border-width: 1px;
    padding: 1px;
    font-family: monospace;
    font-size: 1.5ch;
    text-transform: capitalize;
}

.portrait {
    display: block;
    margin: auto;
}

#attribution {
    text-align: center;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: serif;
    text-decoration: none;
}

#skip-link {
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    background-color: white;
}

#skip-link:focus {
    height: auto;
    width: auto;
    clip: auto;
}
