<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ domain }}/styles.css">

        <title>{{ .Name }} | Theories of Value</title>
    </head>
    <body>
        <header>
            <a href="#main">SKIP TO MAIN CONTENT</a>
            <a href="{{ domain }}{{ index }}">Theories of Value</a>
            <a href="https://github.com/surmavagit/theoriesofvalue">Github</a>
            <nav>
                <ul>
                    <li><a href="{{ domain }}/authors{{ index }}">Authors</a></li>
                </ul>
            </nav>
        </header>
        <main id="main">
            <h1>{{ .Name }}</h1>
            <dl>
                <dt>Birth:</dt>
                <dd>{{ .Birth }}</dd>
                <dt>Death:</dt>
                <dd>{{ .Death }}</dd>
                <dt>Wikidata Id:</dt>
                <dd><a href="https://wikidata.org/wiki/{{ .WikidataId }}">{{ .WikidataId }}</a></dd>
                <dt>Wikipedia:</dt>
                <dd><a href="https://{{ .Wikipedia.Code }}.wikipedia.org/wiki/{{ .Wikipedia.Name }}">{{ .Wikipedia.Code }}.wikipedia.org/wiki/{{ .Wikipedia.Name }}</a></dd>
                {{ if not .OnlineBooks }}{{ else }}
                <dt>OnlineBooksPage:</dt>
                <dd><a href="https://onlinebooks.library.upenn.edu/webbin/book/lookupname?key={{ .OnlineBooks }}">{{ .OnlineBooks }}</a></dd>
                {{ end }}
            </dl>
            <section>
                <h2>Works</h2>
                <ul>
                    {{ range .Works }}
                    <li>{{ .Publication }} {{ .Title }}</li>
                    {{ end }}
                </ul>
            </section>
        </main>
        <footer>
            <a href="https://github.com/surmavagit/theoriesofvalue">Github</a>
            <p>theoriesofvalue.com, since 2024</p>
        </footer>
    </body>
</html>
