{{ header "Authors" }}
            <h1>Authors</h1>
            <ul>
                {{ range . }}
                <li><a href="{{ domain }}/authors/{{ .Slug }}{{ index }}">
                    {{ .Name }} ({{ if not .Birth }}?{{ else }}{{ .Birth }}{{ end }}-{{ if not .Death }}?{{ else }}{{ .Death }}{{ end }})
                </a></li>
                {{ end }}
            </ul>
{{ footer }}
