{{ header .Name }}
            <main id="main">
            <header>
            <h1>{{ .Name }}</h1>
            <p id="sub-title">{{ if .Birth }}{{ fmtYear .Birth }}{{ else }}?{{ end }} - {{ if .Death }}{{ fmtYear .Death }}{{ else }}?{{ end }}</p>
            {{ getPortrait .Slug }}
            </header>
            {{ getComment .Slug }}
            </main>
            <aside>
            {{ if .Works }}
            <section id="works">
                <h2>Works</h2>
                <ul id="worklist">
                    {{ range .Works }}
                    {{ workEntry . }}
                    {{ end }}
                </ul>
            </section>
            {{ end }}
            <section id="resources">
            <h2>Resources</h2>
            <dl>
                {{ if .Wikidata }}
                <dt>Wikidata:</dt>
                <dd><a href="https://wikidata.org/wiki/{{ .Wikidata }}">{{ .Wikidata }}</a></dd>
                {{ end }}
                {{ if .Wikipedia }}
                <dt>Wikipedia:</dt>
                <dd><a href="https://{{ .Wikipedia }}">{{ .Wikipedia }}</a></dd>
                {{ end }}
                {{ if .OnlineBooks }}
                <dt>OnlineBooksPage:</dt>
                <dd><a href="https://onlinebooks.library.upenn.edu/webbin/book/lookupname?key={{ .OnlineBooks }}">{{ .OnlineBooks }}</a></dd>
                {{ end }}
            </dl>
            </section>
            </aside>
{{ footer }}
