{{ header .Name }}
            <h1>{{ .Name }}</h1>
            {{ getPortrait .Slug }}
            <dl>
                {{ if .Birth }}
                <dt>Birth:</dt>
                <dd>{{ fmtYear .Birth }}</dd>
                {{ end }}
                {{ if .Death }}
                <dt>Death:</dt>
                <dd>{{ fmtYear .Death }}</dd>
                {{ end }}
                {{ if .Wikidata }}
                <dt>Wikidata:</dt>
                <dd><a href="https://wikidata.org/wiki/{{ .Wikidata }}">{{ .Wikidata }}</a></dd>
                {{ end }}
                {{ if .Wikipedia }}
                <dt>Wikipedia:</dt>
                <dd><a href="https://{{ .Wikipedia }}">{{ .Wikipedia }}</a></dd>
                {{ end }}
                {{ if .OnlineBooks }}
                <dt>OnlineBooksPage:</dt>
                <dd><a href="https://onlinebooks.library.upenn.edu/webbin/book/lookupname?key={{ .OnlineBooks }}">{{ .OnlineBooks }}</a></dd>
                {{ end }}
            </dl>
            {{ getComment .Slug }}
            {{ if .Works }}
            <section>
                <h2>Works</h2>
                <ul>
                    {{ range .Works }}
                    <li>
                    {{ if .Page }}<a href="{{ domain }}/works/{{ .Slug }}/">{{ end }}
                    {{ if .Year }}{{ .Year }} - {{ end }} {{ if ne .LangCode "en" }}{{ langCodeSpan .LangCode .TitleMain }}{{ else }}{{ .TitleMain }}{{ end }}
                    {{ if .Page }}</a>{{ end }}
                    </li>
                    {{ end }}
                </ul>
            </section>
            {{ end }}
{{ footer }}
