{{ header "Authors" }}
            <main id="main">
            <h1>Authors</h1>
            <label for="sort-select">Sort by:</label>
            <select name="sort-fields" id="sort-select">
            <option value="name" selected>Name</option>
            <option value="birth">Birth</option>
            <option value="death">Death</option>
            </select>
            <ul id="author-list">
                {{ range . }}
                <li data-name="{{ .Slug }}" data-birth="{{ if .Birth }}{{ .Birth }}{{ else }}9999{{ end }}" data-death="{{ if .Death }}{{ .Death }}{{ else }}9999{{ end }}">
                    <a href="{{ domain }}/authors/{{ .Slug }}/">
                        {{ .Name }} ({{ if .Birth }}{{ fmtYear .Birth }}{{ else }}?{{ end }} - {{ if .Death }}{{ fmtYear .Death }}{{ else }}?{{ end }})
                    </a>
                </li>
                {{ end }}
            </ul>
            </main>
{{ footer }}
