<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">

        <title>Authors | Theories of Value</title>
    </head>
    <body>
        <header>
            <a href="#main">SKIP TO MAIN CONTENT</a>
            <a href="https://theoriesofvalue.com">Theories of Value</a>
            <a href="https://github.com/surmavagit/theoriesofvalue">Github</a>
            <nav>
                <ul>
                    <li><a href="https://theoriesofvalue.com/authors">Authors</a></li>
                </ul>
            </nav>
        </header>
        <main id="main">
            <h1>Authors</h1>
            <ul>
                {{ range . }}
                <li><a href="https://theoriesofvalue.com/authors/{{ .Slug }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </main>
        <footer>
        </footer>
    </body>
</html>
