{{ header "Read" }}
            <main id="main">
            <h1>Read on Theories of Value</h1>
            <ul id="worklist">
                {{ range . }}
                <li>
                    <span class="year">{{ if .Year }}{{ fmtYear .Year }}{{ end }}
                    </span><b>{{ if .AllAuthors }}{{ .AllAuthors }}{{ else if .Dubious }}Anonymous{{ end }}</b>
                    <span class="langcode">{{ .LangCode }}</span>
                    <span{{ langAttribute .LangCode }}>
                        <a href="{{ domain }}/read/{{ .Slug }}.html">{{ .TitleMain }}</a>
                    </span>
                </li>
                {{ end }}
            </ul>
            </main>
{{ footer }}
