{{ header .TitleMain }}
            <header>
                <h1{{ langAttribute .LangCode }}>{{ .TitleMain }}</h1>
                <p id="sub-title">by 
                {{ range $index, $author := .Authors }}
                {{ if $index }},{{ end }} <a href="{{ domain }}/authors/{{ .Slug }}/">{{ .Name }}</a>
                {{ end }}
                </p>
                {{ getPortrait .Slug }}
            </header>
            <dl>
                <dt>Full Title:</dt>
                <dd{{ langAttribute .LangCode }}>{{ if .FullTitle }}{{ .FullTitle }}{{ else }}{{ .TitleMain }}{{ end }}</dd>
                <dt>Original language:</dt>
                <dd>{{ .LangDesc }}</dd>
                {{ if .Wikidata }}
                <dt>Wikidata:</dt>
                <dd><a href="https://wikidata.org/wiki/{{ .Wikidata }}">{{ .Wikidata }}</a></dd>
                {{ end }}
                {{ if .Wikipedia }}
                <dt>Wikipedia:</dt>
                <dd><a href="https://{{ .Wikipedia }}">{{ .Wikipedia }}</a></dd>
                {{ end }}
            </dl>
            {{ getComment .Slug }}
            {{ if .Editions }}
            <section>
                <h2>Editions</h2>
                <ul>
                    {{ range .Editions }}
                    <li>
                    <p>{{ if .Year }}{{ fmtYear .Year }} - {{ end}}
                    {{ if .Translators }}
                    {{ .LangDesc }} translation ({{ .Translators }}) - 
                    {{ if ne .LangCode "en" }}
                        <span{{ langAttribute .LangCode }}>{{ end }}"{{ .Title }}"{{ if ne .LangCode "en" }}</span>
                    {{ end }} - {{ end }}
                    {{ .Description }}</p>
                    {{ if .Links }}
                    <ul>
                        {{ range .Links }}
                        <li>
                        {{ if .Description }}
                            <span class="block">
                        {{ end }}
                            <a href="{{ .Url }}">{{ .Website }}</a> - {{ if .Download }}downloadable {{ end }}{{ .Quality }}
                        {{ if .Description }}
                            </span>
                            <span class="block">{{ .Description }}</span>
                        {{ end }}
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    </li>
                    {{ end }}
                </ul>
            </section>
            {{ end }}
            {{ if .Translations }}
            <section>
                <h2>Translations</h2>
                <ul>
                {{ range .Translations }}
                <li>
                <p>{{ .LangDesc }} - {{ if .Year }}{{ fmtYear .Year }} {{ end}}{{ if .AllAuthors }}({{ .AllAuthors }}) {{ else }}(Anonymous) {{ end }}- {{ if ne .LangCode "en" }}<span{{ langAttribute .LangCode }}>{{ end }}"{{ .TitleMain }}"{{ if ne .LangCode "en" }}</span>{{ end }}{{ if .Description }} - {{ .Description }}{{ end }}</p>
                {{ if .Links }}
                <ul>
                    {{ range .Links }}
                    <li>
                    {{ if .Description }}
                        <span class="block">
                    {{ end }}
                            <a href="{{ .Url }}">{{ .Website }}</a> - {{ if .Download }}downloadable {{ end }}{{ .Quality }}
                    {{ if .Description }}
                        </span>
                        <span class="block">{{ .Description }}</span>
                    {{ end }}
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
                </li>
                {{ end }}
                </ul>
            </section>
            {{ end }}
{{ footer }}
