{{ header "Works" }}
            <h1>Works</h1>
            <ul>
                {{ range . }}
                <li>
                    <a href="{{ domain }}/works/{{ .Slug }}{{ index }}">{{ .Year }} - {{ .Authors }} - {{ .TitleMain }}</a>
                </li>
                {{ end }}
            </ul>
{{ footer }}
