{{ header .TitleMain }}
            <hgroup>
                <h1{{ if ne .LangCode "en" }} lang="{{ .LangCode }}"{{ end }}>{{ .TitleMain }}</h1>
                <p id="attribution">by 
                {{ range $index, $author := .Authors }}
                {{ if $index }},{{ end }} <a href="{{ domain }}/authors/{{ .Slug }}/">{{ .Name }}</a>
                {{ end }}
                </p>
            </hgroup>
            <dl>
                <dt>Full Title:</dt>
                <dd{{ if ne .LangCode "en" }} lang="{{ .LangCode }}"{{ end }}>{{ if .FullTitle }}{{ .FullTitle }}{{ else }}{{ .TitleMain }}{{ end }}</dd>
                <dt>Original language:</dt>
                <dd>{{ .LangDesc }}</dd>
                {{ if .Wikidata }}
                <dt>Wikidata:</dt>
                <dd><a href="https://wikidata.org/wiki/{{ .Wikidata }}">{{ .Wikidata }}</a></dd>
                {{ end }}
                {{ if .Wikipedia }}
                <dt>Wikipedia:</dt>
                <dd><a href="https://{{ .Wikipedia }}">{{ .Wikipedia }}</a></dd>
                {{ end }}
            </dl>
            {{ getComment .Slug }}
            {{ if .Editions }}
            <section>
                <h2>Editions</h2>
                <ul>
                    {{ range .Editions }}
                    <li>
                    <p>{{ if .Year }}{{ .Year }} - {{ end}}{{ if .Translators }}{{ .LangDesc }} translation ({{ .Translators }}) - "{{ langCodeSpan .LangCode .Title }}" - {{ end }}{{ .Description }}</p>
                    {{ if .Links }}
                    <ul>
                        {{ range .Links }}
                        <li>
                            <span><a href="{{ .Url }}">{{ .Website }}</a> - {{ if .Download }}downloadable {{ end }}{{ .Quality }}</span>
                            {{ if .Description }}<span>{{ .Description }}</span>{{ end }}
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    </li>
                    {{ end }}
                </ul>
            </section>
            {{ end }}
            {{ if .Translations }}
            <section>
                <h2>Translations</h2>
                <ul>
                {{ range .Translations }}
                <li>
                <p>{{ .LangDesc }} - {{ if .Year }}{{ .Year }} {{ end}}{{ if .AllAuthors }}({{ .AllAuthors }}) {{ else }}(Anonymous) {{ end }}- "{{ if ne .LangCode "en" }}{{ langCodeSpan .LangCode .TitleMain }}{{ else }}{{ .TitleMain }}{{ end }}"{{ if .Description }} - {{ .Description }}{{ end }}</p>
                {{ if .Links }}
                <ul>
                    {{ range .Links }}
                    <li>
                        <span><a href="{{ .Url }}">{{ .Website }}</a> - {{ if .Download }}downloadable {{ end }}{{ .Quality }}</span>
                        {{ if .Description }}<span>{{ .Description }}</span>{{ end }}
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
                </li>
                {{ end }}
                </ul>
            </section>
            {{ end }}
{{ footer }}
