{{ header "Works" }}
            <h1>Works</h1>
            <ul>
                {{ range . }}
                <li>
                    <a href="{{ domain }}/works/{{ .Slug }}/">
                    {{ if .Year }}{{ .Year }} - {{ end }}
                    {{ if .AllAuthors }}{{ .AllAuthors }} - {{ else if .Dubious }}Anonymous - {{ end }}
                    {{ if ne .LangCode "en" }}{{ langCodeSpan .LangCode .TitleMain }}{{ else }}{{ .TitleMain }}{{ end }}
                    </a>
                </li>
                {{ end }}
            </ul>
{{ footer }}
