{{ header "Works" }}
            <h1>Works</h1>
            <ul>
                {{ range . }}
                <li class="workentry">
                    <span class="year">{{ if .Year }}{{ fmtYear .Year }}{{ end }}
                    </span><b>{{ if .AllAuthors }}{{ .AllAuthors }}{{ else if .Dubious }}Anonymous{{ end }}</b>
                    <span class="langcode">{{ .LangCode }}</span>
                    {{ if .AllLangs }}{{ formatLangs .AllLangs }}{{ end }}
                    <span{{ langAttribute .LangCode }}>
                        <a href="{{ domain }}/works/{{ .Slug }}/">{{ .TitleMain }}</a>
                    </span>
                </li>
                {{ end }}
            </ul>
{{ footer }}
